
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

**/dist/
**/.angular/
**/.cache/
**/out-tsc/
**/coverage/
**/release/
**/build/
**/out/
.env
.env.*
!.env.example

logs/
*.log

.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

!.vscode/extensions.json
!.vscode/settings.json

.github/agents/

.azure/

*.tsbuildinfo
*.tmp
*.temp
*.swp